<main>
	<div class="jumbotron">
		<div class="container">
		  <h1>Meghan Hartman</h1>
		  <p>Web designer and developer</p>
		  <p><%= link_to "View my Work", "/portfolio", :class => "btn btn-primary btn-lg" %></p>
		</div>
	</div>
</main>
